*{
    padding: 0px;
    margin: 0px;
    text-decoration: none ;
}
body{
   
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(image/image\ 7.png);
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content:space-around;
    padding: 20px;    
    
}

header li a{
    color: rgba(255, 255, 255, 0.871);
    font-size: 20px; 
}

.navbar{
    max-height:max-content ;
}


header .logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-height: max-content;


}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    gap: 20px;
  
}
.good{
    border: 1px solid black;
    background-color:white;
    border-radius: 50px;
    display: inline-block;
    justify-content:center;
    align-items: center;
    height: 190px;
    width: 90%;
    position: relative;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.good h1{
    color: #194d96c0;
    font-size: 50px;
    height: max-content;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 10px;
    text-transform: capitalize;

}   

.good p{
    font-size: 20px;
    height: max-content;
    margin-left: 40px;
}

.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border: 1px solid black;
    height: 100px;
    height: max-content;
    width: 90%;
    top: 70%;
    left: 5%;
    border-radius: 80px;
    gap: 50px;

}

#date-out, #date-in, #localisation, #guest{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
   
}

#date-out, #date-in, #guest{
    border-left: 0.2px solid rgba(0, 0, 0, 0.255);
}

#search{
    background-color:rgb(68, 148, 166);
    border-radius: 20px;
    height: max-content;
}

.centrer i{
    font-size: 40px;
}

.fa-solid.fa-magnifying-glass{
    height: max-content;
    font-size: 40px;
    color: white;
    font-weight:600;
}

.centrer h3{
    width: max-content;
    text-transform: capitalize;
}

.centrer p{
    width: max-content;
    margin-left: 0px;
    text-shadow:rgba(228, 221, 221, 0.26);
}

.element{
    height: max-content;
    width: max-content;
}

.choose{
    position: relative;
    bottom: auto;
    width: 100%; 
    justify-content: center;
    margin-top: 0px;
}
#us{
    text-transform: uppercase;
    font-size: 30px;
    color: #041319;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
}
.di{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center ;
    margin: 20px 0px;
}

.di i{
    font-size: 50px;
    background-color: rgba(126, 197, 225, 0.269);
    margin: 0px 20px;
}

.di-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1295px;
}

.cont-i{
    padding-bottom: 20px;
}
.cont-h3{
    padding: 10px;
    text-transform: capitalize;
}

.partners{
    position: relative;
    width:100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.partners h1{
    font-size: 30px;
    color: #041319f2;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
    text-transform: uppercase;
}
.part-container{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    gap: 50px;
    width: 1300px;
}
.svg-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.top{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.top h1{
    font-size: 30px;
    color: #041319f2;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #041319;
}

.card-container-1 , .card-container-2{
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: 1300px;
    margin-bottom: 30px;
}

.card-container-1 .stars , .card-container-2 .stars{
     position: absolute;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #041319be;
    top: 5%;
    left: 80%;

}

.card{
    position: relative;
}

#etoile{
    color: rgb(227, 183, 53);
}

#chif{
    color:white;
}

.descrit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    margin-top: 10px;
}

.location{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
    margin-top: 10px;
}
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    height:  max-content;
    width: 160px;
    height: 40px;
    margin: auto;
    border-radius: 80px;
    position: relative;
    top: 0px;
    margin-bottom: 60px;
    margin-top: 60px;
}
.see-all h1{
    font-size: 15px;
    color: #041319f2;
    text-align: center;
    padding-top: 15px;
}
.see-all i{
    font-size: 15px;
    margin-bottom: 20px;
    position: relative;
    
}
.cover-toow{
    background: linear-gradient(rgba(0, 0, 0, 0.705)),url(image/image\ 13.png);
    background-size: cover;
    height: 90vh;
    width: 100vw    ;
    padding: 20px;
    display: block-flex;
    justify-content: space-around;  

}

#explore-maldives{
    color: white; 
    text-align: center; 
    font-size:90px; 
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 40px;
}

#tx h3{
    color: white;
    font-size: 20px;
}

hr{
    border: 1px solid white;
    width: 83%;
    margin-bottom: 30px;
    align-items: center;
    margin-left: 90px;
  
}

.img-text{
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    gap: 20px;
    width: 1320.95px;
    gap: 70px;
}
.text{
    padding-bottom: 65px;
}

.text p{
    color: white; 
    font-size: 25px;
}

.img{
    display: inline-flex;
    gap: 30px;
}

.see-all-2{
    border: 1px solid black;
    border-radius: 80px; 
    height: 40px; 
    width: 155px;
    background-color: white;
    margin-top: 15px;

}
.see-all-2 h1{
    font-size: 15px;
    text-align: center;
    padding-top: 10px;
}

.feature{
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;
    top: 0px;
    margin-left: 40px;
    margin-top: 40px;
}

.feature h1{
    margin-bottom: 25px;
    margin-left: 180px;
    text-transform:capitalize;
    
}

.connt-table {
    border: 1px solid black;
    width: max-content;
    border-radius: 20px;
    overflow: hidden;
    width: 300px;
}

.now{
    display:flex ;
    justify-content:center;
    align-items: center;
    gap: 20px;
}

.sous-img{
    margin-left: 20px;
    padding-top: 15px;

}   

.sous-img h3{
    margin: 15px 0px 15px 0px;
}

.sous-img h4{
    margin-bottom: 20px;
    color: rgba(29, 29, 212, 0.74);
}

.sous-img p{
    margin-bottom: 30px;
}

.cover-3{
    background:linear-gradient(rgba(0, 0, 0, 0.705)),url(image/piscine.jpeg);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 40px;
    display: block-flex;
    margin-top: 20px;
    justify-content: space-around;  
}

.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    width: 90%;
    height: max-content;
    margin: auto;
    padding: 20px;
}

.cat{
    border: 1px solid black;
    height: 270px ;
    width: 450px;
    border-radius: 40px;
    background-color: white;
    position: relative;
}

#text-sous {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    text-align: center;
    height: max-content;
    width: max-content;
    padding-left: unset;
    margin-top: 40px;
    margin-left: 10px;
    text-align: center;
}
#text-sous p{
    font-size: 12px;
    padding-top: 0px;
    padding-left: 0px;
}


#text-sous h2{
    font-size: 20px;
    padding-top: 0px;
    padding-left: 0px;
    color: #f1d116f2;
}

#photo{
    top: -25px;
    left: 50px;
}

.testimonials img{
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: 0px;
}
.cover-3 h2{
    color: white;
}

#test {
    margin-top: 40px;
    font-size: 20px;
    color: #041319f2;
    text-align: center;
    width: max-content;
    height: max-content;
}

.get{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    margin: auto;
    padding: 20px;
    border-radius: 50px;
    background-image: url(image/Rectangle\ 33.png);
    background-repeat: no-repeat;
    width: 70%;
    height: 200px ;
    background-color: rgba(128, 128, 128, 0.116);
    overflow: hidden;
    margin-top: 100px;
}

footer{
    background-color: #041319;
    height: 400px;
    width: 100vw;
    margin-top: 100px;
    position: relative;
    }   

.foot{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

footer div{
    color: white;
    font-size: 20px;
}

.list-li{
    align-items: center;
    text-align: center;
    gap: 50px;
    list-style: none;
}
.social{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.social .list-li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    list-style: none;
}

footer hr{
    border: 1px solid white;
    width: 90%;
    margin: auto;
    align-items: center;
   
}
.copyright{
    color: rgba(255, 255, 255, 0.267);
    font-size: 10px;
    margin-left: 70px;
    
}
.copy{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max-content;
    width: 95%;
    margin-top: 20px;
}

