*{
    padding: 0px;
    margin: 0px;
    text-decoration: none ;
    box-sizing: border-box;

}
body{
   
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(image\ 7.png);
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    
    
}
.navbar{
    max-height:max-content ;
}


header .logo{
    font-size: 20px;
    font-weight: bold;
    max-height: max-content;


}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    gap: 20px;
  
}

a{
    color: white;
}

.good {
    position: absolute;
    width: 920px;
    height: 180px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    background-color:white;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    
}
.good h1{
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0px 0px 20px;
    color: rgb(14, 92, 122);
    text-transform: capitalize;
}

.good #p{
    font-size: 20px;
    margin-left: 20px;
    color: black;
    font-size: 18px;
    }

.centrer{
    border: 1px solid black;
    position: absolute;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    height: max-content;
    width: 95%;
    margin: 0px 20px;
    gap: 20px;
    bottom: 20px;
}

#date-out, #date-in, #localisation, #guest{
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
}
#date-out, #date-in, #guest{
    border-left: 0.2px solid rgba(0, 0, 0, 0.255);
}

.centrer i{
    padding: 10px;  
    border-radius: 50%;
    font-size: 30px;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-solid.fa-magnifying-glass{
    background-color: rgb(125, 205, 237);
    font-size: 35px;
    border-radius: 50%;
}
.choose{
    position: absolute;
    bottom: auto;
    margin:  20px 0px;
    padding: 100px;
    width: 100%; 
    justify-content: center;
}

#us{
    text-transform: uppercase;
    font-size: 30px;
    color: #041319;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
}

.di{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center ;
    margin: 20px 0px;
}
.di i{
    font-size: 50px;
    background-color: rgba(126, 197, 225, 0.269);
    margin: 0px 20px;
}
.di-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.cont-i{
    padding-bottom: 20px;
}
.cont-h3{
    padding: 10px;
    text-transform: capitalize;
}

.partners{
    padding: 500px;
    position: absolute;
    width:100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
}
.top{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 600px;
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.card{
    display: block  ;  
}