*{
    padding: 0px;
    margin: 0px;
    text-decoration: none ;
    box-sizing: border-box;

}
body{
   
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100vh;
    width: 100vw;
    background-image: url(image\ 7.png);
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    
    
}
.navbar{
    max-height:max-content ;
}


header .logo{
    font-size: 20px;
    font-weight: bold;
    max-height: max-content;


}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    gap: 20px;
  
}

a{
    color: white;
}

.good {
    position: absolute;
    width: 80%;
    height: 220px;
    border: 1px solid black;
    background-color:white;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}

.centrer{
    height: 100px;
    width: 95%;
    border: 1px solid black;
    position: absolute;
    display: inline-flex;
    margin: 20px;
    align-items: center;
    gap: 40px;
    border-radius: 80px;
    justify-content: center;
    
}
#localisation ,#date-in,#date-out{
    border-right: 1px solid ;
    align-items: center;
    text-align: center;


}
.good h1,p{
    padding-left: 30px;
    padding-top: 14px;
}
.centrer h3{
    font-size: 15px;

}
.centrer p{
    font-size: 10px;
}
#localisation{
    position: absolute;
    left: 30px;
}
#date-in{
    position: absolute;
    left: 250px;
}