*{
    padding: 0px;
    margin: 0px;
    text-decoration: none ;
}
body{
   
    font-family: Arial, Helvetica, sans-serif;
}

header{
    height: 100vh;
    width: 100%;
    background-image: url(image\ 7.png);
    background-size: cover;
    background-position:center;
    display:flex;
    justify-content:space-around;
    padding: 20px;    
    
}

header li a{
    color: rgba(255, 255, 255, 0.871);
    font-size: 20px; 
}

.navbar{
    max-height:max-content ;
}


header .logo{
    color: white;
    font-size: 20px;
    font-weight: bold;
    max-height: max-content;


}
.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items:center;
    gap: 20px;
  
}
.good{
    border: 1px solid black;
    background-color:white;
    border-radius: 50px;
    display: inline-block;
    justify-content:center;
    align-items: center;
    height: 190px;
    width: 90%;
    position: relative;
    top: 110%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.good h1{
    color: #194d96c0;
    font-size: 50px;
    height: max-content;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-top: 10px;
    text-transform: capitalize;

}   

.good p{
    font-size: 20px;
    height: max-content;
    margin-left: 40px;
}

.centrer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    border: 1px solid black;
    height: 100px;
    height: max-content;
    width: 90%;
    top: 70%;
    left: 5%;
    border-radius: 80px;
    gap: 50px;

}

#date-out, #date-in, #localisation, #guest{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
   
}

#date-out, #date-in, #guest{
    border-left: 0.2px solid rgba(0, 0, 0, 0.255);
}

#search{
    background-color:rgb(68, 148, 166);
    border-radius: 20px;
    height: max-content;
}

.centrer i{
    font-size: 40px;
}

.fa-solid.fa-magnifying-glass{
    height: max-content;
    font-size: 40px;
    color: white;
    font-weight:600;
}

.centrer h3{
    width: max-content;
    text-transform: capitalize;
}

.centrer p{
    width: max-content;
    margin-left: 0px;
    text-shadow:rgba(228, 221, 221, 0.26);
}

.element{
    height: max-content;
    width: max-content;
}

.choose{
    position: relative;
    bottom: auto;
    width: 100%; 
    justify-content: center;
    margin-top: 0px;
}
#us{
    text-transform: uppercase;
    font-size: 30px;
    color: #041319;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
}
.di{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center ;
    margin: 20px 0px;
}

.di i{
    font-size: 50px;
    background-color: rgba(126, 197, 225, 0.269);
    margin: 0px 20px;
}

.di-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 1295px;
}

.cont-i{
    padding-bottom: 20px;
}
.cont-h3{
    padding: 10px;
    text-transform: capitalize;
}

.partners{
    position: relative;
    width:100%;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    justify-content: center;
    text-transform: uppercase;
    margin-top: 40px;
}

.top{
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.top h1{
    font-size: 30px;
    color: #041319f2;
    margin-top: 50px;
    margin: 40px 50px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 2px 2px #041319;
}

.card-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    width: 1300px;
}

.stars{
    position: absolute;
    border: 1px solid ;
    border-radius: 5px;
    background-color: #04131934;
    top: 30%;
    
    
}

#etoile{
    color: rgb(227, 183, 53);
}

#chif{
    color:white;
}

.descrit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 20px;
    position: relative;
    margin-top: 10px;
}

.location{
    display: flex;
    justify-content:left;
    align-items: center;
    text-align: center;
    gap: 10px;
    position: relative;
    margin-top: 10px;
}
.see-all{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
    border: 1px solid black;
    height:  max-content;
    width: 160px;
    height: 50px;
    margin: auto;
    border-radius: 80px;
    position: relative;
    top: 50px;
}
.see-all h1{
    font-size: 20px;
    color: #041319f2;
}
.see-all i{
    font-size: 15px;
    margin-bottom: 20px;
    position: absolute;
    top: 10px;
}
.cover-toow{
    background-image: url(image\ 13.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-around;  

};    

.see-all-2{
    border: 1px solid black;
}